/*import font style from font.google.com*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

html {
    overflow-x: hidden;
    /*prevents the brower froms displaying left to right scroll as a result or negative margin values*/
    scroll-behavior: smooth
        /*creates a smooth scrolling effect when one of the links is click*/
    ;
}

/*Navbar*/
.nav-bar {
    position: sticky;
    /*creates a sticky element that stays in the same spot in the brower screen*/
    top: 0;
    /*Sticks at the top of the page based of the user scrolling*/
    z-index: 9;
    /*puts the navbar on the top layer(not the top of the page, think art programs) of the webpage*/
}

ul {
    display: flex;
    /*creates a container that will adjust the element to fit the space available*/
    list-style-type: none;
    /*removes the default style for ul elements*/
    align-items: center;
    margin: -8px -8px 0px -8px;
    /*margin order top, right, bottom and left. The negatives margins will stretch the background beyond the edge of the browser screen*/
    background-color: rgb(1, 128, 106);
    border-bottom: 5px solid rgb(247, 177, 188);
}

a {
    display: block;
    /*<--This will display the anchor element vertically on a new line. This was added so the drop down menu displays vertically and not horizontally on the screen*/
    font-family: "Josefin Slab", serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(247, 177, 188);
    text-align: center;
    width: 100px;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in;
}

a:hover,
.drop:hover a:only-of-type

/*only-of type effects the only child(div that only have one thing in it) nested within the element. this will keep the background color blue while hovering and the text white when the mouse over the anchor elements in the rollover-menu div*/
    {
    background-color: rgb(149, 238, 223);
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in;
}

/**/

.rollover-menu {
    display: none;
    /*prevent the <a> link in this <div>(the one you will putt this class in) from showing on the web page til otherwise specified*/
    position: absolute;
    /*Abosulte will position the <div> element to the postion of it parent element(so I think like putting directly where the recipes tab would be*/
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

/*Creates a trigger effect when the use hovers their mouse over the recipes links. The trigger will display all element with the rollover-menu class div element*/
.drop:hover .rollover-menu {
    display: block;
}

.rollover-menu a {
    color: rgb(0, 80, 67);
}

.rollover-menu a:hover {
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(90, 90, 90, 0.2);
}

.rollover-menu a:nth-child(1) {
    border-top: 5px solid rgb(238, 118, 136);
}

/*footer*/

footer {
    align-items: center;
    /*will align nested html elements in the center i.e. the table data and paragraph element in the footer tag*/
    margin: 0px -8px -8px -8px;
    /*stretches the footer background beyond the browser edge leaving no white space*/
    background-color: rgb(1, 128, 106);
    border-top: 5px solid rgb(247, 177, 188);
    bottom: 0;
    /*positons the footer at the bottom of  the screen*/
}

table {
    width: 100%;
    /*will take up the fill width of he brower screen*/
}

td {
    width: 33%;
    /*each table data item take up 1/3 of the space available on the screen*/
}

td p {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(247, 177, 188);
}

/*body*/

.container {
    display: inline-block;
    background-size: 100%;
    padding-top: 60px;
    padding-left: 30px;
}

/*headers*/

h1 {
    font-family: "Sacramento", cursive;
    font-size: 80px;
    color: rgb(0, 80, 67);
    text-align: center;
}

h2,
h3,
h4 {
    font-family: "Josefin Slab", serif;
    text-align: center;
}

h2 {
    color: rgb(0, 80, 67);
    font-size: 60px;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 15px;
    text-decoration: underline;
    text-transform: uppercase;
}

/*paragraphs*/
p {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 80, 67);
    text-align: center;
}

/*images*/

/*this will position elements to sit side by side on the screen*/
.column {
    float: left;
    width: 48%;
    padding: 10px;
}

/*styling for screens 1200px or smaller*/
@media screen and (max-width: 1200px) {
    .column {
        width: 100%;
        padding: 0px;
        margin-left: -15px;
        /*centers each column on the screen*/
    }
}

.column img:nth-child(-n + 7) {
    width: 500px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4),
        0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.recipe-container {
    width: 500px;
    height: 350px;
    margin: 100px auto 180px;
    /**shorthand value top, right and left, then bottom*/
    perspective: 1000px;
    /*tells te browser how much 3 dimensional space an element should take up on the screen*/
}

/*styling for mobile*/
@media screen and (max-width: 600px) {
    .column img:nth-child(-n + 7) {
        width: 350px;
        height: 225px;
    }

    .recipe-container {
        width: 350px;
        height: 225px;
    }
}


.recipe-card-background {
    background-color: rgb(149, 238, 223);
}

/*alternates the blue tiles on smaller screens*/
@media screen and (max-width: 1200px) {
    #pork {
        background-color: rgb(255, 255, 255);
    }

    #biscuits {
        background-color: rgb(149, 238, 223);
    }
}

/*feature recipes*/
/*styles the featured recipes h3 tag*/
#featured-header {
    font-family: "Sacramento", cursive;
    font-size: 60px;
    color: rgb(0, 80, 67);
}

#featured-main-text {
    text-align: justify;
    padding: 20px;
    margin-left: 40px;
}

/*set margin left to 0 because it is not needed on a small screen and centers the text*/
@media screen and (max-width: 1200px) {
    #featured-main-text {
        margin-left: 0;
    }
}


/*this specifically styles the img tag nested within the #featured div in the featured recipe section*/
@media screen and (mid-width: 1600px) {
    #featured img {
        width: 700px;
        height: auto;
        /*automatically calculates the image height based on the width*/
        margin-left: -100px;
        margin-top: -20px;
        /* margin left and top will override margin styling from the .recipes-container class selector*/
    }
}

/*adjusts the position of the featured image to be centered in its when the width is 1599px or less*/
@media screen and (max-width: 1599px) {
    #featured img {
        margin-left: 0px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {
    #featured .recipe-card-background {
        height: 300px;
    }

    #featured img {
        margin-top: -65px;
    }
}

#feature-button {
    display: block;
    /*positions the recipes button on its own line from the other elements within the div*/
    margin: 60px auto 0px;
    background-color: rgb(1, 128, 106);
    border-radius: 35px;
    border: none;
    /*removes default border set by the brower when border-raduis is used*/
    font-family: "Josefin Slab", serif;
    font-size: 30px;
    font-weight: bold;
    padding: 15px 25px;
    color: white;
    cursor: pointer;
}

/*specifically styles the hover effect of the recipe button in the featured recipe section*/
#feature-button:hover {
    background-color: rgb(247, 177, 188);
}


/*images flip*/

/*positions the flip effect defines transition time and defines 3D effects*/

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    /*setting the width and height to 100% will allow the effects to take up 100% of the space available*/
    text-align: center;
    transition: 0.5s ease-in-out;
    transform-style: preserve-3d;
    /*treats elements as 3D objects instead of flat(2D) objects*/
}

.flip:hover {
    transform: rotateY(-180deg);
    /*rotates an element from right TO left*/
}

.flip-front,
.flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    /*behind the  element or imge to show the text*/
}

/**/
.flip-back {
    background-color: rgb(149, 238, 223);
    border: 2px solid white;
    transform: rotateY(180deg);
    /*adds 180 degrees back from the previously subtracted -180 degrees it moved to previously so the text can be read properly*/
}

.text-container {
    padding-top: 70px;
}

@media screen and (max-width: 600px) {
    .text-container {
        padding-top: 0px;
    }
}

input[type="button"] {
    background-color: #fff;
    border: none;
    border-radius: 20px;
    font-family: "Josefin Slab", serif;
    font-size: 22px;
    font-weight: bold;
    padding: 11px 17px;
    color: rgb(1, 128, 106);
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgb(247, 177, 188);
    color: white;
}

/*Contact form styling*/
/*sets up the content within the div tag containing the ID contact (#contact) to be center on the webpage*/
#contact {
    display: block;
    margin-bottom: 70px;
}

form {
    display: table;
    /*this will display the form in a table format as rows and columns*/
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    /*the browser will automatically calculate margins to center the form on the screen*/
}

/*This will specifically targets the input tags that are nested within the form tags*/
form input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165);
    border: 2px solid rgb(165, 165, 165);
    border-radius: 5px;
    padding: 3px;
    margin: 10px 15px 10px 0px;
    transition: 0.3 ease-out;
    /*transitions back to light gray when a user clicks away from an input field*/
}

form input:focus {
    border: 2px solid rgb(1, 128, 106);
    color: black;
    outline: none;
    /*Removes default border added when the focus pseudo class is trigged */
    transition: 0.3s ease-out;
}

label {
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: both;
    /*will allow the user to resize the text area both in width and height*/
    border: 3px solid rgb(165, 165, 165);
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    color: rgb(165, 165, 165);
    transition: 0.3s ease-out;
    /*will transition back to light gray*/
}

textarea:focus {
    color: black;
    border: 3px solid rgb(1, 128, 106);
    transition: 0.3s ease-out;
    outline: none;
}

input[type="submit"] {
    background-color: rgb(1, 128, 106);
    border: none;
    border-radius: 35px;
    font-family: "Josefin Slab", serif;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 25px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
    float: right;
    /*postions the sumbit button to the bottom right of the form*/
}

input[type="submit"]:hover {
    background-color: rgb(247, 177, 188);
}

/*About style section*/

#about-header {
    font-family: "Josefin Slab", serif;
    font-size: 60px;
    color: rgb(0, 80, 67);
    text-align: center;
}

.about-border {
    border: 8px solid rgb(149, 238, 223);
    border-radius: 16px;
    width: 96%;
    padding-top: 30px;
    margin-left: 10px;
    box-shadow: 0 5px 10px rgba(165, 165, 165, 0.7);
    align-content: center;
}

#about-h3 {
    font-family: "Josefin Slab", serif;
    color: rgb(0, 80, 67);
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: rgb(247, 177, 188);
}

#about-main-text {
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
    margin: 40px;
}

/*set margin left to 0 because it is not needed on a small screen and centers the text*/
@media screen and (max-width: 600px) {
    #about-main-text {
        margin: auto;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 40px;
    }

    #about-header {
        margin-left: 0px;
    }

    #about-h3 {
        margin: 0px;
    }

    .about-border {
        margin-right: 30px;
        width: auto;
    }
}


/*Recipes Modals*/
.recipe-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    /*Creates a transparent background that covers the whole screen*/
    width: 100%;
    height: 100%;
}

.recipe-content {
    position: relative;
    background-color: rgb(255, 255, 255);
    top: 15vh;
    left: 27vw;
    width: 45vw;
    height: 70%;
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.close-btn {
    color: rgb(1, 128, 106);
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    float: right;
    padding-right: 10px;
}

.modal-header {
    padding-top: 20px;
}

.modal-body {
    padding: 20px;
}

.row {
    display: flex;
    justify-content: center;
}

.rp-column-1 {
    width: 33%;
}

.rp-column-2 {
    width: 67%;
}

.recipe-list {
    margin-left: -30px;
    font-family: "Josefin Slab", serif;
    font-size: 18px;
    display: block;/*This will override the flex value property in the ul type selector and list each item one after the other*/
    border: none;/*Overrides the border property and value in the ul type selector*/
    background-color: transparent;/*Overrides the background color in the ul type selector*/
    line-height: 1.5;
    text-align: center;
}

.recipe-directions{
    padding: 0px 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: left;
}