html {
    font-size: 70%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/*Calculator background and screen size*/
.calculator {
    border: 1.2px solid #560004;
    border-radius: 7px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: peachpuff;
}

.calculator-screen {
    width: 100%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: #560004;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 7px 7px 0px 0px;
}

/*Button styling and hover effects*/
button {
    height: 70px;
    border-radius: 3px;
    border: 1px solid maroon;
    background-color: transparent;
    font-size: 3.2rem;
    color: black;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(73, 7, 7, 0.6));
    /*each value below is separated by a comma ',' after the rgba values*/
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05),
        inset 0 1px 0 0 rgba(255, 255, 255, .05),
        inset 0 -1px 0 0 rgba(255, 255, 255, .05),
        0 1px 0 0 rgba(255, 255, 255, .05);
}

button:hover {
    background-color: cornsilk;
}


/*Operators styling*/
.operator {
    color: black;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(49, 9, 5, 0.6));
    background-color: sandybrown;
}

.operator:hover {
    background-color: #e8ba66;
}

/*For the all-clear operator*/
.all-clear {
    background-color: #92ab36;
    border-color: limegreen;
    color: black;
}

.all-clear:hover {
    background-color: palegreen;
}

/*For the equal operator*/
.equal-sign {
    background-color: rgb(236, 96, 124);
    border-color: firebrick;
    color: #fff;
    height: 100%;
    grid-area: 2/4/6/5;
}

.equal-sign:hover {
    background-color: lightcoral;
}

/*Calculator*/
.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
}